<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lovo.disaster.pwd.dao.IMouseDao">
    <resultMap id="mouseBeanMap" type="mouseBean ">
        <id property="mouseId" column="mouse_id"></id>
        <result property="mouseName" column="mouse_name"></result>
        <result property="food" column="mouse_food" ></result>
        <result property="mouseBreed" column="mouse_breed"></result>
        <result property="mouseEnemy" column="mouse_enemy"></result>
        <result property="pathImg" column="mouse_img_path"></result>
        <result property="mouseMethod" column="mouse_method"></result>
        <result property="mouseHarm" column="mouse_harm"></result>
    </resultMap>
    <!--动态显示界面-->
    <select id="findAll" resultMap="mouseBeanMap" parameterType="map">
        select mouse_id,mouse_name,mouse_food,mouse_breed,mouse_enemy,mouse_img_path,mouse_method,mouse_harm
        from sys_mouse where 1=1
        <if test="null!=mName and ''!=mName">
            and mouse_name=#{mName}
        </if>
        limit #{start},#{hang}
    </select>
    <!--添加鼠害对象-->
    <insert id="addMouse" parameterType="mouseBean">
        insert into sys_mouse(mouse_name,mouse_food,mouse_breed,mouse_enemy,mouse_img_path,mouse_method,mouse_harm)
        values (#{mouseName},#{food},#{mouseBreed},#{mouseEnemy},#{pathImg},#{mouseMethod},#{mouseHarm})
    </insert>
    <!--通过id查找鼠害对象-->
    <select id="findById" resultMap="mouseBeanMap" parameterType="mouseBean">
        select * from sys_mouse where mouse_id=#{mouseId}
    </select>
    <!--分页-->
    <select id="countPage" resultType="Integer" parameterType="map">
        select count(*) from sys_mouse where 1=1
        <if test="null!=mName and ''!=mName">
            and mouse_name like '%${mName}%'
        </if>
    </select>


</mapper>